<div id="how" class="steps">
    <div class="container">
        <div class="steps__block">
            <div class="steps__name">
                <span>Как принять участие</span>
                <span>в дистанционном электронном голосовании?</span>
            </div>
            <!--
            <div class="steps__desc">
                <p>Принять участие в дистанционном электронном голосовании имеет право гражданин Российской Федерации, обладающий активным избирательным правом на дополнительных выборах депутатов Государственной Думы, зарегистрированный по месту жительства на территории одномандатного избирательного округа, в котором проводится дистанционное электронное голосование.</p>
                <p>Необходимо быть пользователем пользователем федеральной государственной информационной системы «Единый портал государственных и муниципальных услуг» с подтвержденной учетной записью.</p>
            </div>
            -->
            <div class="steps__list">
                <div class="steps__list-item">
                    <div class="steps__list-item-text">
                        <!--Для того чтобы принять участие в дистанционном электронном голосовании, необходимо <strong>до 8&nbsp;сентября</strong> <a href="https://gosuslugi.ru/"> подать заявление</a> на включение в список участников дистанционного электронного голосования-->
                        <a href="https://gosuslugi.ru/">Подайте заявление</a> через портал «Госуслуги» не позднее <strong>24:00 (мск) 8&nbsp;сентября 2020&nbsp;года</strong>
                    </div>
                </div>
                <div class="steps__list-item">
                    <div class="steps__list-item-text">
                        <!--Если вам подтвердили статус участника дистанционного электронного голосования, то <strong>с 8.00 по московскому времени 11&nbsp;сентября 2020&nbsp;года до 20.00 по московскому времени  13&nbsp;сентября 2020</strong> года ждем вас на портале дистанционного электронного голосования <a href="http://vybory.gov.ru">vybory.gov.ru</a>-->
                        Убедитесь, что статус участника ДЭГ подтвержден. Сведения об этом доступны в <a href="https://gosuslugi.ru/">личном кабинете</a> на портале "Госуслуги"
                    </div>
                </div>
                <div class="steps__list-item">
                    <div class="steps__list-item-text">
                        <!--В любой из дней голосования авторизуйтесь на портале дистанционного электронного голосования с помощью <a href="https://gosuslugi.ru/">единой системы идентификации и аутентификации (ЕСИА)</a>, перейдите на страницу с голосованием и получите авторизационное <strong>смс-сообщение</strong>-->
                        Авторизуйтесь на портале дистанционного электронного голосования с помощью единой системы идентификации и аутентификации (ЕСИА)
                    </div>
                </div>
                <div class="steps__list-item">
                    <div class="steps__list-item-text">
                        Получите SMS-сообщение с кодом подтверждения
                    </div>
                </div>
                <div class="steps__list-item">
                    <div class="steps__list-item-text">
                        Голосуйте дистанционно, <strong>это просто и удобно!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
