$color-white: #ffffff;
$color-black: #000000;
$color-grey-ultra-dark: #3C3C3C;
$color-grey-extra-dark: #585858;
$color-grey-dark: #515a63;
$color-grey-medium: #858b92;
$color-grey-light: #b0b8c0;
$color-grey-extra-light: #E2E2E2;
$color-caption: #0173c1;
$color-blue-title: #3081de;
$color-blue-bg: #f3f5fb;
$color-blue-bg-light: #2A7EE1;
$color-blue-medium: #D6E4F6;
$color-red: #E3241A;
$color-orange: #F94110;
$color-footer-bg: #eeefef;
$color-secondary: #0b40b3;
$color-primary: #1e3685;
$color-popup-background: rgba(16, 18, 23, 0.4);
$color-notification-1: #fff3cc;
$color-notification-2: #fce5e9;
$color-notification-3: #eaf2eb;
$color-notification-4: #e6f1f9;
$color-success: #317d34;
$color-error: #df0024;
$color-error-orange: #F94110;
$color-notification-5: #eaf2eb;

$font-size-h0: 36px;
$font-size-h1: 32px;
$font-size-main: 28px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-body: 16px;
$font-size-caption: 16px;
$font-size-notification: 12px;
$font-size-button: 16px;
$font-size-landing-title: 22px;
$font-size-landing-timer: 48px;
$font-size-landing-button: 26px;
$font-size-landing-counter: 38px;
$font-size-landing-desc: 18px;
$font-size-landing-little: 16px;
$font-size-landing-extra-little: 14px;

$line-height-h0: 40px;
$line-height-h1: 32px;
$line-height-main: 33px;
$line-height-h2: 40px;
$line-height-h3: 26px;
$line-height-body: 24px;
$line-height-caption: 20px;
$line-height-notification: 24px;
$line-height-button: 24px;
$line-height-landing-title: 32px;
$line-height-landing-timer: 40px;
$line-height-landing-button: 32px;
$line-height-landing-counter: 32px;
$line-height-landing-desc: 24px;
$line-height-landing-little: 24px;
$line-height-landing-extra-little: 24px;

$font-family-h0: ALS Ekibastuz;
$font-family-h1: ALS Ekibastuz;
$font-family-main: ALS Ekibastuz;
$font-family-h2: ALS Ekibastuz;
$font-family-h3: Helvetica, Sans;
$font-family-body: Helvetica, Sans;
$font-family-caption: Helvetica, Sans;
$font-family-notification: Helvetica, Sans;
$font-family-button: Helvetica, Sans;
$font-family-franklin: FranklinGothic, Helvetica, Sans;
$font-family-landing: FranklinGothic, Helvetica, Sans;

$font-weight-h0: bold;
$font-weight-h1: bold;
$font-weight-main: bold;
$font-weight-h2: bold;
$font-weight-h3: bold;
$font-weight-body: normal;
$font-weight-caption: normal;
$font-weight-notification: normal;
$font-weight-button: normal;
$font-weight-button-bold: 500;
$font-weight-landing-normal: normal;
$font-weight-landing-medium: 500;
$font-weight-landing-bold: bold;

$color-h0: $color-black;
$color-h1: $color-black;
$color-main: $color-black;
$color-h2: $color-black;
$color-h3: $color-black;
$color-body: $color-black;
$color-caption: $color-caption;
$color-notification: $color-black;
$color-button: $color-black;

$padding: 8px;
$padding-double: $padding * 2;

$breakpoint-xlg-bottom: 1440px;
$breakpoint-lg-bottom: 1200px;
$breakpoint-md-top: 1199px;
$breakpoint-md-bottom: 768px;
$breakpoint-sm-top: 767px;
