<div class="title">
    <div class="container">
        <div class="title__block">
            <div class="title__name">
                Дистанционное электронное голосование
            </div>
            <div class="title__desc">
                <span>на дополнительных выборах депутатов Государственной Думы</span>
                <span>Федерального Собрания Российской Федерации седьмого созыва</span>
                <span>по одномандатным избирательным округам</span>
            </div>
        </div>
    </div>
</div>
