@import '../../../shared/styles/styles';

@font-face {
  font-family: ALS Ekibastuz;
  src: url('assets/fonts/als_ekibastuz_bold.woff') format("woff"),
    url('assets/fonts/ALS_Ekibastuz_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: FranklinGothic;
  src: url('assets/fonts/FranklinGothic/FranklinGothicBookCondC.otf') format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: FranklinGothic;
  src: url('assets/fonts/FranklinGothic/FranklinGothicMediCondC.otf') format("opentype");;
  font-weight: 500;
}

@font-face {
  font-family: FranklinGothic;
  src: url('assets/fonts/FranklinGothic/FranklinGothicDemiCondC.otf') format("opentype");
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #ffffff;
}

@media (max-width: $breakpoint-sm-top) {
  html, body {
    min-height: initial;
    height: 100%;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: $color-secondary;
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

button {
  cursor: pointer;
  padding: 0;
  background: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: $font-family-body;
}

.container {
  margin: 0 auto;
}

@media (min-width: $breakpoint-lg-bottom) {
  .container {
    width: 1120px;
  }
}

@media (min-width: $breakpoint-md-bottom) and (max-width: $breakpoint-md-top) {
  .container {
    width: 688px;
  }
}

@media (max-width: $breakpoint-sm-top) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.only-mobile {
  @media (min-width: $breakpoint-md-bottom) {
    display: none !important;
  }
}

.only-tablet {
  @media (max-width: $breakpoint-sm-top) and (min-width: $breakpoint-lg-bottom) {
    display: none !important;
  }
}

.only-desktop {
  @media (max-width: $breakpoint-md-top) {
    display: none !important;
  }
}

.hide-mobile {
  @media (max-width: $breakpoint-sm-top) {
    display: none !important;
  }
}

.hide-tablet {
  @media (min-width: $breakpoint-md-bottom) and (max-width: $breakpoint-md-top) {
    display: none !important;
  }
}

.hide-desktop {
  @media (min-width: $breakpoint-lg-bottom) {
    display: none !important;
  }
}

h1 {
  font-family: $font-family-h1;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}

h2 {
  @media (min-width: $breakpoint-lg-bottom) {
    font-family: $font-family-h2;
    font-size: $font-size-h2;
    line-height: $line-height-h2;
  }
  @media (min-width: $breakpoint-md-bottom) and (max-width: $breakpoint-md-top) {
    font-family: $font-family-h2;
    font-size: $font-size-h2;
    line-height: $line-height-h2;
  }
  @media (max-width: $breakpoint-sm-top) {
    font-family: $font-family-h2;
    font-size: 18px;
    line-height: 22px;
  }
}

h3 {
  font-family: $font-family-h3;
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}

/* ----- */
/* ICONS */
/* ----- */

/* default, sizes */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &--lg {
    width: 64px;
    height: 64px;
    flex: 0 0 64px;
  }
  &--md {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
  }
  &--sm {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
  }
  &--xs {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
  }
}

/* items */
.icon {
  &-android {
    background-image: url('assets/icons/icon-android.svg') !important;
  }
  &-answer {
    background-image: url('assets/icons/icon-answer.svg') !important;
  }
  &-apple {
    background-image: url('assets/icons/icon-apple.svg') !important;
  }
  &-arrow-circle {
    background-image: url('assets/icons/icon-arrow-circle.svg') !important;
  }
  &-arrow-left {
    background-image: url('assets/icons/icon-arrow-left.svg') !important;
    padding: 4px 5px;
  }
  &-attention {
    background-image: url('assets/icons/icon-attention.svg') !important;
  }
  &-attention-red {
    background-image: url('assets/icons/icon-attention-red.svg') !important;
  }
  &-bio {
    background-image: url('assets/icons/icon-bio.svg') !important;
  }
  &-bio-ok {
    background-image: url('assets/icons/icon-bio-ok.svg') !important;
  }
  &-bio-square {
    background-image: url('assets/icons/icon-bio-square.svg') !important;
    padding: 1px;
  }
  &-bio-square-ok {
    background-image: url('assets/icons/icon-bio-square-ok.svg') !important;
    padding: 1px;
  }
  &-bulletin {
    background-image: url('assets/icons/icon-bulletin.svg') !important;
  }
  &-bulletin-municipal {
    background-image: url('assets/icons/icon-bulletin-municipal.svg') !important;
  }
  &-bulletin-federal {
    background-image: url('assets/icons/icon-bulletin-federal.svg') !important;
  }
  &-bulletin-regional {
    background-image: url('assets/icons/icon-bulletin-regional.svg') !important;
  }
  &-clip {
    background-image: url('assets/icons/icon-clip.svg') !important;
  }
  &-close {
    background-image: url('assets/icons/icon-close.svg') !important;
    padding: 6px;
  }
  &-close-blue {
    background-image: url('assets/icons/icon-close-blue.svg') !important;
    padding: 4.5px;
  }
  &-close-photo {
    background-image: url('assets/icons/icon-close-photo.svg') !important;
  }
  &-done {
    background-image: url('assets/icons/icon-done.svg') !important;
  }
  &-place {
    background-image: url('assets/icons/icon-place.svg') !important;
    padding: 1px 3px;
  }
  &-radio {
    background-image: url('assets/icons/icon-radio.svg') !important;
    padding: 2px;
  }
  &-radio-checked {
    background-image: url('assets/icons/icon-radio-checked.svg') !important;
    padding: 2px;
  }
  &-spinner {
    background-image: url('assets/icons/icon-spinner.svg') !important;
    animation: spinner cubic-bezier(.5,.75,.57,.3) 1s infinite;
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &-success {
    background-image: url('assets/icons/icon-success.svg') !important;
  }
  &-wi-fi {
    background-image: url('assets/icons/icon-wi-fi.svg') !important;
  }
  &-trinagle {
    background-image: url('assets/icons/icon-trinagle.svg') !important;
    padding: 4px 6px;
  }
}

.card {
  background: $color-white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
  border-radius: 4px;
  @media (min-width: $breakpoint-md-bottom) {
    padding: $padding * 4 $padding * 5 $padding * 5 $padding * 5;
  }
  @media (max-width: $breakpoint-sm-top) {
    padding: $padding * 3 $padding * 2 $padding * 5 $padding * 2;
  }
}

.card_outer {
  @media (min-width: $breakpoint-md-bottom) {
    padding: $padding * 5 0 $padding * 8 0;
  }
  @media (max-width: $breakpoint-sm-top) {
    padding: 0;
  }
}

.breadcrumb {
  padding-top: $padding * 2;
  padding-bottom: $padding * 4;
  &__item {
    font-size: $font-size-caption;
    line-height: $line-height-caption;
    font-family: $font-family-caption;
    font-weight: $font-weight-caption;
    color: $color-grey-medium;
    display: flex;
    align-items: center;
    .icon {
      width: 8px;
      height: 6px;
    }
    span {
      margin-left: 12px;
    }
  }
}

article {
  height: 100%;
}

/* styles for the page when opened in the wrong browser  */
/*
body.bad-browser-body {
  padding: 0;
  margin: 0;
  background-color: #EAECF0;
}

.bad-browser {
  display: none;
  justify-content: center;
  font-family: $font-family-franklin;

  &.active {
    display: flex;
  }

  &__content {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: $color-white;
    box-sizing: border-box;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex: 0 0 700px;
    margin-top: 100px;
    padding: 32px;
    position: relative;

    &::before {
      position: absolute;
      top: 32px;
      left: 32px;
      background-image: url("./assets/icons/icon-attention.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    font-weight: $font-weight-body;
    margin-left: 52px;
    flex: 1 1;
    font-size: $font-size-h2;
    line-height: $line-height-h2 - 14;
    color: $color-black;
  }

  &__list {
    padding: 0 !important;
    margin: 38px 0 0 12px !important;
    list-style: inside !important;
    flex: 0 0 100%;
    font-size: $font-size-h3;
    line-height: $line-height-h3 - 2;
    color: $color-grey-medium;
    font-weight: $font-weight-body;
  }

  &__browser-list {
    font-weight: $font-weight-body;
    font-size: $font-size-h3;
    line-height: $line-height-h3 - 2;
    color: $color-secondary;
    margin-left: 63px;
  }
}
*/
