<div class="more-question">
    <div class="container">
        <div class="more-question__block">
            <div class="more-question__title">
                Куда обратиться, если остались&nbsp;вопросы?
            </div>
            <div class="more-question__desc">
                Информационно-справочный центр «Горячая&nbsp;линия»
            </div>
            <div class="more-question__phone">
                <a href="tel:88002000020">8-800-200-00-20</a>
                <a href="tel:+74997540020">+7-499-754-00-20</a>
            </div>
            <div class="more-question__text">
                (для звонков из-за рубежа)
            </div>
            <div class="more-question__link">
                Официальный сайт <a href="http://cikrf.ru/">ЦИК России</a>
            </div>
        </div>
    </div>
</div>
