<article class="card__outer">
    <div class="container wait_container">
        <div class="card wait">
            <div class="wait__icon icon icon--lg icon-spinner"></div>
            <h2 class="wait__title">Ждем ответ<br>Биометрической системы</h2>
            <div class="wait__text text-body">Это может занять некоторое время</div>
            <div class="wait__content">
                <a class="button button-blue" routerLink="/">Отмена</a>
            </div>
        </div>
    </div>
</article>
