<div class="terms">
    <div class="container">
        <div class="terms__block">
            <div class="terms__title">
                Вы можете принять участие<br>
                в дистанционном электронном голосовании,
            </div>
            <div class="terms__sutitle">
                если Вы:<br>
                –&nbsp;гражданин Российской Федерации;<br>
                –&nbsp;старше 18&nbsp;лет;<br>
                –&nbsp;зарегистрированы по месту жительства на территории<br>
                <a href="http://kursk.izbirkom.ru/kalendar-vyborov/13-sentyabrya-2020-goda/informatsiya-o-granitsakh-seymskogo-odnomandatnogo-izbiratelnogo-okruga-110-na-dopolnitelnykh-vybora/informatsiya-o-granitsakh-seymskogo-odnomandatnogo-izbiratelnogo-okruga-110-na-dopolnitelnykh-vybora.php">Сеймского одномандатного избирательного округа №&nbsp;110</a><br>
                или <a href="http://yaroslavl.izbirkom.ru/edg/edinyy-den-golosovaniya-13-09-2020/dopolnitelnye-vybory-deputata-gd-fs-rf/informatsiya-o-granitsakh-odnomandatnogo-izbiratelnogo-okruga-194.php">Ярославского одномандатного избирательного округа №&nbsp;194;</a><br>
                –&nbsp;имеете подтвержденную учетную запись на портале «Госуслуги»,<br>
                данные которой сопоставлены с данными Регистра избирателей ГАС&nbsp;«Выборы».
            </div>
        </div>
    </div>
</div>
