<div class="when">
    <div class="container">
        <div class="when__block">
            <div class="when__title">
                Когда проводится<br>
                дистанционное электронное голосование?
            </div>
            <div class="when__sutitle">
                С 8:00&nbsp;<strong>11&nbsp;сентября</strong> до&nbsp;20:00&nbsp;<strong>13&nbsp;сентября</strong>&nbsp;2020&nbsp;года<br>
                (по московскому времени)
            </div>
        </div>
    </div>
</div>
