<article class="how">
    <div class="container">
        <div class="how__content">
            <div class="how__title text-main">{{'HOW.TITLE' | translate}}</div>
            <div class="how__steps">
                <div class="how__step step">
                    <div class="step__number text-h3">1</div>
                    <div class="step__content">
                        <div class="step__title text-h3">{{'HOW.STEP1' | translate}}</div>
                        <div class="step__text text-body">
                            {{'HOW.STEP1TEXT' | translate}}
                            <a href="https://www.gosuslugi.ru/">{{'LINKS.GOSUSLUGI' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="how__step step">
                    <div class="step__number text-h3">2</div>
                    <div class="step__content">
<!--                        <div class="step__title text-h3">{{'HOW.STEP2' | translate}}</div>-->
                        <div class="step__title text-h3">{{'HOW.STEP2_TEST' | translate}}</div>
                        <div class="step__text text-body">
<!--                            {{'HOW.STEP2TEXT' | translate}}-->
                            <!--                            <a href="https://bio.rt.ru/">{{'LINKS.EBS' | translate}}</a>-->
                            {{'HOW.STEP2TEXT_TEST' | translate}}
                            <a href="https://gosuslugi.ru/">{{'LINKS.GOSUSLUGAH' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="how__step step">
                    <div class="step__number text-h3">3</div>
                    <div class="step__content">
                        <div class="step__title text-h3">{{'HOW.STEP3' | translate}}</div>
                        <div class="step__text text-body">{{'HOW.STEP3TEXT' | translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
