<div id="faq" class="question-answer">
    <div class="container">
        <div class="question-answer__block">
            <div class="question-answer__name">
                Вопросы и ответы
            </div>
            <div class="question-answer__list">
                <div class="question-answer__list-item"
                     *ngFor="let questionAnswer of questionAnswers"
                     [class.active]="questionAnswer === toggle"
                     (click)="toogleClass(questionAnswer)"
                >
                    <div class="question-answer__list-item-title">
                        {{questionAnswer.question}}
                    </div>
                    <div class="question-answer__list-item-desc" [innerHtml]="questionAnswer.answer">
                    </div>
                </div>
                <!--
                <div class="question-answer__list-item">
                    <div class="question-answer__list-item-title">
                        Где будет проходить дистанционное электронное голосование?
                    </div>
                    <div class="question-answer__list-item-desc">
                        <p>Дистанционное электронное голосование будет проходить на , расположенном по адресу <span>http://vybory.gov.ru</span></p>
                        <p>Для участия в дистанционном электронном голосование в обязательном порядке необходимо заранее подать соответствующее заявление через <span>портал Госуслуг</span>.</p>
                        <p>Вы сможете перейти на портал дистанционного голосования любым из перечисленных способов:</p>
                        <ul>
                            <li>Перейдя по ссылке из письма с информацией о порядке голосования, которое будет направлено Вам после успешного рассмотрения ЦИК России Вашего заявления.</li>
                            <li>Перейдя по ссылке из личного кабинета <span>портала Госуслуг</span> в блоке «Мои выборы», если Ваше заявление ранее было успешно учтено ЦИК России</li>
                            <li>Набрав <span>vybory.gov.ru</span> в адресной строке вашего браузера на стационарном компьютере или Вашем мобильном устройстве</li>
                        </ul>
                    </div>
                </div>
                <div class="question-answer__list-item">
                    <div class="question-answer__list-item-title">
                        Потребуются ли мне какие-то технические средства или специальные программы для дистанционного электронного голосования?
                    </div>
                    <div class="question-answer__list-item-desc">
                        <p>Для взаимодействия с системой дистанционного электронного голосования вам понадобится персональный компьютер или ноутбук, подключенный к интернету с установленным веб-браузером. Также вы сможете проголосовать с планшета или смартфона под управлением iOS (iPhone) или Android с актуальной версией операционной системы.</p>
                        <p>Рекомендуется для голосования использовать личные устройства, доступ к которым контролируете только вы.</p>
                        <p>В качестве веб-браузера рекомендуется использование браузеров российского производства, таких как Яндекс браузер или Браузер спутник</p>
                        <p>При голосовании потребуется устойчивое соединение с Интернетом. Не используйте систему в процессе движения на автомобиле или в поезде, а также если вы находитесь в зоне неустойчивого приема сигнала сотовой сети или WiFi.</p>
                    </div>
                </div>
                <div class="question-answer__list-item">
                    <div class="question-answer__list-item-title">
                        Как я смогу проголосовать на портале <span>vybory.gov.ru</span>?
                    </div>
                    <div class="question-answer__list-item-desc">
                        <p>С 8-00&nbsp;утра 11&nbsp;сентября по 20-00 13&nbsp;сентября 2020&nbsp;года на главной странице портала <span>vybory.gov.ru</span> будет доступна кнопка «Принять участие в голосовании». При ее нажатии пользователь пользователю будет предложено пройти процедуру идентификации, полностью аналогичную процедуре идентификации при входе на <span>портал Госуслуг</span>. Вам потребуется ввести Ваш пароль от Личного кабинета <span>портала Госуслуг</span>, поэтому держите его под рукой, или сохраните в браузере на своем устройстве.</p>
                        <p>После успешного прохождения идентификации Вы увидите голосования на дополнительных выборах депутатов Государственной Думы Федерального Собрания Российской Федерации седьмого созыва по одномандатным избирательным округам. В зависимости от того, где Вы обладаете активным избирательным правом, будет отображено голосование в Курской области – Сеймский одномандатный избирательный округ №&nbsp;110 или Ярославской области – Ярославский одномандатный избирательный округ №&nbsp;194.</p>
                    </div>
                </div>
                <div class="question-answer__list-item">
                    <div class="question-answer__list-item-title">
                        Если при голосовании у меня произойдёт сбой (пропадет Интернет, разрядится телефон), я смогу сделать это еще раз?
                    </div>
                    <div class="question-answer__list-item-desc">
                        <p>Если технический сбой произойдет до ввода кода из СМС, подтверждающей ваше участие в голосовании, вы сможете повторить процесс на любом устройстве.</p>
                        <p>Если сбой произойдет после ввода кода из СМС, вы сможете попробовать пройти процесс еще раз, но только на том устройстве и в том веб-браузере, где был введен такой код изначально. В этом случае на странице с доступными Вам голосованиями у такого голосования будет указано:</p>
                        <p>Вы получили доступ к бюллетеню на этом голосовании. Вы сможете вернуться к бюллетеню, если используете тот-же браузер на том же устройстве и не проголосовали ранее.</p>
                        <p>Вы не сможете проголосовать повторно, если ранее уже использовали доступ к бюллетеню для голосования (подтвердили волеизъявление и отправили бюллетень)</p>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
