<article class="welcome">
    <div class="container">
        <div class="welcome__content">
            <div class="welcome__about">
<!--                <h1 class="welcome__title text-h0">{{'WELCOME.TITLE' | translate}}</h1>-->
                <h1 class="welcome__title text-h0">{{'WELCOME.TITLE_TEST' | translate}}</h1>
                <div class="welcome__text text-body">{{'WELCOME.TEXT' | translate}}</div>
                <a data-qa="elections-list_esia-auth_button" routerLink="/elections" class="button button-blue welcome__button">{{'BUTTONS.IN' | translate}}</a>
            </div>

        </div>
    </div>
</article>
